@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Jost;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #fffacd;
}
#gallery {
  background-color: #fffacd;
}

section {
  padding-top: 5rem;
}

nav ul li a:hover {
  color: white;
  text-decoration: underline;
  font-weight: 600;
}
